<!-- Header-->
<header class="masthead d-flex align-items-center h-25">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1 text-white">Big Events</h1>
        <h3 class="mb-5 text-white"><em>The ultimate event tracking solution.</em></h3>
    </div>
</header>