<!-- About-->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>Take control of your events like never before with Big Events!</h2>
                <p class="lead mb-5">
                    At Big Events, we understand the challenges of planning and managing events.
                    That's why we've developed a powerful event tracking system that simplifies the process from start to finish.
                    Our platform allows you to easily track and manage every aspect of your event, from guest lists and RSVPs to schedules and budgets.
                    With real-time updates and alerts, you'll always be in control and can confidently manage any unexpected changes or issues.
                    Our goal is to help you create unforgettable events that leave a lasting impression on your guests.
                    Join the countless event planners who rely on Big Events for their most important occasions.

                </p>
                <a class="btn btn-dark btn-xl" href="#portfolio">Se our events</a>
            </div>
        </div>
    </div>
</section>