<!-- Call to Action-->
<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Manage Events</h2>
        <a class="btn btn-xl btn-light me-4" href="{{ path('app_event_new') }}"><span class="fa fa-plus-circle m-0"></span> New</a>
        <a class="btn btn-xl btn-dark" href="{{ path('app_event_search') }}"><span class="fa fa-search m-0"></span> Search for event</a>
    </div>
</section>